.home {
  max-width: 1440px;
  margin: 0 auto;
}
.color_ {
  color: #a02279;
}
@media screen and (max-width: 678px) {
  .section1 {
    font-size: 40px;
    line-height: 100%;
    color: #434343;
    font-weight: 400;
    font-family: redrose;
    margin-top: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 679px) {
  .section1 {
    font-size: 56px;
    line-height: 140%;
    color: #434343;
    font-weight: 400;
    letter-spacing: -0.02em;
    font-family: redrose;
    text-align: left;
  }
}
