@media screen and (max-width: 768px) {
  .navbar {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
  }
  .logo {
    max-width: 150px;
    width: 100%;
    min-height: 28px;
  }
}
@media screen and (min-width: 769px) {
  .navbar {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 85px;
  }
}

.menu {
  cursor: pointer;
}
.menuSm {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  margin-top: 60px;
}

.navbar_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_item > p {
  font-family: redrose;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
